*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-800: #000;
  --yellow: #ffda4b;
  --yellow-100: #fffbe6;
  --yellow-400: #ffda4b;
  --yellow-800: #8b6f00;
  --blue: #124be7;
  --blue-100: #7ab0f7;
  --blue-400: #202bca;
  --blue-800: #1605b1;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: auto;
  font-style: normal;
  font-size: 1.1rem;
  background-color: white;
}

.container {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--blue);
  color: var(--base-100);
  border-radius: 10px;
  transition: ease 0.3s all;

  &:hover {
    text-decoration: none;
    background-color: var(--base-800);
  }
  &.white {
    background-color: white;
    color: var(--base-800);
    &:hover {
      background-color: var(--base-100);
      color: var(--base);
    }
  }
  &.black {
    background-color: black;
    color: white;
    &:hover {
      background-color: var(--base);
      color: var(--base-100);
    }
  }
}

h1 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  small {
    display: block;
    font-weight: 100;
  }
  @media (max-width: 1024px) {
    font-size: 48px;
  }
}

.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .hero-blue {
    flex: 1;
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      @media (max-width: 768px) {
        display: none;
      }
    }
    .call-to-action {
      margin-top: 20px;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
        text-decoration: none;
      }
    }
    .social-links {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .hero-yellow {
    flex: 1;
    background-color: var(--yellow);
    border-radius: 30px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;

    img {
      min-width: 100%;
      border-radius: 30px;
    }
  }
}

.logos {
  background-color: var(--base-100);
  border-radius: 30px;
  padding: 30px 0px;
  mask-image: linear-gradient(to right, transparent, #000, transparent);
  @media (max-width: 1024px) {
    border-radius: 0px;
  }
  .marquee {
    width: 100vw;
    max-width: 100%;
    height: var(--height);
    overflow: hidden;
    position: relative;
    .track {
      position: absolute;
      left: 100%;
      white-space: no-wrap;
      will-change: transform;
      transition: filter 0.5s;
      animation: autoRun 20s linear infinite;
      display: flex;
      gap: 10px;
    }
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    transform: translateX(-200%);
  }
}

.logos:hover .track {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.logos .track:hover {
  filter: grayscale(0);
}

h2 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  color: var(--base-800);
  padding: 30px;
  small {
    display: block;
    font-weight: 100;
    font-size: 0.54em;
    color: var(--base);
  }
  @media (max-width: 1024) {
    font-size: 48px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  color: var(--base-800);
}

.skills {
  .holder-blue {
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .left-column {
      flex: 1;
      ul {
        list-style: none;
        gap: 10px;
        margin-right: 100px;
        margin-bottom: 20px;
        li {
          display: inline-block;
          background-color: var(--blue-400);
          padding: 10px 20px;
          border-radius: 15px;
          margin-bottom: 10px;
          color: white;
        }
      }
    }
    .right-column {
      flex: 1;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

.work-experience {
  .projects {
    display: flex;
    gap: 30px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }

    article {
      background-color: var(--yellow);
      padding: 30px;
      border-radius: 30px;
      flex: 1;

      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
      div {
        font-weight: 600;
        margin: 5px;
        color: var(--base-800);
        text-align: center;
      }
      p {
        margin-bottom: 10px;
      }
      figure {
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          object-fit: cover;
          transition: ease 2.5s all;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          color: var(--base-100);
          text-align: center;
          padding: 10px;
          opacity: 0;
          visibility: hidden;
          transition: ease 0.3s all;
        }
        &:hover {
          filter: blur(0);
          figcaption {
            opacity: 1;
            visibility: visible;
          }
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 1024px) {
  .autoBlur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
  }

  @keyframes autoBlurAnimation {
    0% {
      filter: blur(40px);
    }
    45%,
    55% {
      filter: blur(0px);
    }
    100% {
      filter: blur(40px);
    }
  }
}

footer {
  background-color: var(--base-800);
  color: var(--base-100);
  padding: 30px;
  text-align: center;
  border-radius: 30px 30px 0px 0px;
  margin-top: 30px;
  a {
    color: var(--yellow);
    &:hover {
      text-decoration: none;
    }
  }
}
